<div class="card-table">
    <div class="table-header column">
        <div class="header-row">
            <h3>Recent Transactions</h3>
        </div>

        <!-- Search + Filter Row -->
        <div class="search-filter-row below-title">
          <!-- Search -->
          <div class="search-wrapper" style="min-width: 300px;">
            <span class="search-icon material-icons">search</span>
            <input
              type="text"
              id="recentTransactions"
              class="form-control search-input"
              placeholder="Search transaction type"
            />
          </div>
        </div>
    </div>


  <div class="table-responsive">
    <table class="table table-sm table-hover ">
      <thead>
        <tr style="background-color: hsl(0, 0%, 95%);">
            <th class="text-center">
                <input type="checkbox" id="receipt-checkbox">
            </th>
            <th style="min-width: 150px;">Reference No</th>
            <th>Transaction Type</th>
            <th >Date</th>
        </tr>
      </thead>
      <tbody id="recentTransactionsBody">
        <tr>
          <td colspan="5" class="text-center text-muted" >
            Loading recent transactions...
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="pagination-wrapper" style="display: flex;">
    <button class="btn btn-sm btn-secondary" id="prevPage">
      Prev
    </button>
    <span id="pageIndicator" class="page-indicator">
      Page 1 of 1
    </span>
    <button class="btn btn-secondary btn-sm" id="nextPage">
      Next
    </button>
  </div>
</div>
