<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicant Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/userProfile.css">
    <link rel="stylesheet" href="/css/applicantTable.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>


    
</head>
<body>
    <div id="sidebarOverlay"></div>
    <div id="messageBox" class="message-box"></div>
    <div id="confirmDeleteModal" class="confirm-modal">
        <div class="confirm-box">
            <h5 id="confirmTitle">Confirm Action</h5>
            <p id="confirmMessage"></p>

            <div class="confirm-actions">
            <button id="confirmCancelBtn" class="btn btn-secondary">Cancel</button>
            <button id="confirmOkBtn" class="btn btn-danger">Yes, Close</button>
            </div>
        </div>
    </div>

    <nav id="sidebar">
        <div class="sidebar-header">
            <img id="navlogo" src="" alt="Logo" class="logo rounded-5">
            <div class="brand-text">FISHERFOLKS</div>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#" id="getDashboard">
                    <i class="fa fa-desktop nav-icon"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <a href="#" id="getProfile">
                    <i class="fa fa-user nav-icon"></i>
                    <span class="nav-text">Profile</span>
                </a>
                <a href="#" id="getDigitalID">
                    <i class="fas fa-award"></i>
                    <span class="nav-text">Digital ID</span>
                </a>
                <li>
                    <a href="#" id="getRecentTransactions">
                        <i class="fas fa-file-alt"></i>
                        <span class="nav-text">Transactions</span>
                    </a>
                </li>
                
                <li>
                    <a href="#" id="getSettings">
                        <i class="fa fa-cogs nav-icon"></i>
                        <span class="nav-text">Settings</span>
                    </a>
                </li>

                <li>
                    <a href="/userLogout" >
                        <i class="fa fa-sign-out-alt nav-icon"></i>
                        <span class="nav-text">Logout</span>
                    </a>
                </li>
            </ul>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light  shadow">
        <div class="container-fluid">
            <button title="" type="button" id="sidebarCollapse" class="btn btn-primary btn-sm">
                <i class="fas fa-align-left"></i>
            </button>
            <span class="ms-2 fw-bold ">Dashboard</span>
        </div>

    </nav>
    
    <div id="content">
        <div class="dashoard-wrapper">
            <div id="greeting-container" class="greeting-card">
                <img id="userPhoto" alt="User Photo" style="display: none;">
                <div>
                    <div id="greeting" class="greeting-text"></div>
                    <div class="greeting-sub">Have a productive day 🌊</div>
                </div>
            </div>
            
            <div class="dashboard-secondary">
                <div id="dashboardAlerts"></div>
                <div id="dashboardAnnouncements"></div>
            </div>
<div id="applicantTableContainer"></div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/userDashboard.js"></script>
    <script src="/js/userProfile.js"></script>
    <script src="/js/userSettings.js"></script>
    <script src="/js/userTransactions.js"></script>

</html>